.logo {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 3vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2vh;
}

.objlist {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 25vw;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


